*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: rgb(230, 218, 207); 
  min-width: 100vw;
  min-height: 100vh;
}

div {
  min-height: 100vh;
  color: rgb(196, 193, 11);
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  text-transform: capitalize;
}


.para {
  border: 2px solid blanchedalmond;
  padding: 50px;
  background: burlywood;
  margin: 50px 50px;
  color: rgb(139, 24, 4);
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
}

#pic {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./images/toni-cuenca.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
}

#header{
  text-align: center;
  text-transform: capitalize;
  border: 2px solid yellowgreen;
  border-radius: 5px;
  background: wheat;
  color: rgb(119, 50, 4);
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}




.abdullah{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./images/abdullah.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  color: rgb(210, 212, 67);
  justify-content: center;
  text-align: center;
}

#abd{
  padding: 25px;
  margin: 25px;
  color: rgb(225, 226, 161);
  font-weight: 800;
}


.abdullah{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./images/abdullah.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  color: rgb(210, 212, 67);
  justify-content: center;
  text-align: center;
}

#abd{
  padding: 25px;
  margin: 25px;
  color: rgb(225, 226, 161);
  font-weight: 800;
}



.kamrul{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./images/kam.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  color: rgb(210, 212, 67);
  justify-content: center;
  text-align: center;
}

#kam{
  padding: 25px;
  margin: 25px;
  color: rgb(228, 210, 207);
  font-weight: 800;
}

.nature{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./images/dark_natue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  color: rgb(210, 212, 67);
  justify-content: center;
  text-align: center;
}

#nat{
  padding: 25px;
  margin: 25px;
  color: rgb(225, 226, 161);
  font-weight: 800;
}

.watch{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./images/watch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  color: rgb(210, 212, 67);
  justify-content: center;
  text-align: center;
}

#wat{
  padding: 25px;
  margin: 25px;
  color: rgb(225, 226, 161);
  font-weight: 800;
}

.guitar{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./images/guitar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  color: rgb(210, 212, 67);
  justify-content: center;
  text-align: center;
}

#gui{
  padding: 25px;
  margin: 25px;
  color: rgb(225, 226, 161);
  font-weight: 800;
}